* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  background-color: #c5e4e7;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 200px;
}

.logo {
  margin: 5rem 0 3.5rem 0;
  margin-bottom: 8rem;
}

.card {
  background-color: white;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3.5rem;
}
.card .input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.card .input .label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
}
.card .input .label-wrapper label {
  color: #5e7a7d;
  font-size: 1.5rem;
  font-weight: 700;
}
.card .input .label-wrapper .error-msg {
  color: #e17456;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0;
}
.card .input .label-wrapper .show-error-msg {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.card .input .input-text {
  background-color: #f4fafa;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  color: #00494d;
  padding: 0.5rem 2.4rem;
}
.card .input .input-text:focus {
  outline: none;
  border: 2px solid #26c0ab;
}
.card .input ::placeholder {
  color: #547878;
  font-size: 2rem;
}
.card .input .input-wrapper {
  position: relative;
}
.card .input .input-wrapper img {
  position: absolute;
  left: 2.4rem;
  top: 1.5rem;
}
.card .input .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1.2rem;
}
.card .input .btn-wrapper .btn {
  width: 46%;
  text-align: center;
  background-color: #00494d;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card .input .btn-wrapper .btn:hover {
  background-color: #a1e8df;
}
.card .input .btn-wrapper .btn-active {
  background-color: #26c0ab;
  color: #00494d;
}
.card .input .btn-wrapper .input-text {
  width: 46%;
}
.card .output {
  background-color: #00494d;
  width: 100%;
  border-radius: 1.5rem;
  padding: 2.5rem;
}
.card .output .line-wrapper .line-output {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem 0 2.4rem 0;
}
.card .output .line-wrapper .line-output .title {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}
.card .output .line-wrapper .line-output .desc {
  color: #7f9c9f;
  font-weight: 700;
  font-size: 1.3rem;
}
.card .output .line-wrapper .line-output .value {
  color: #26c0ab;
  font-weight: 700;
  font-size: 3rem;
}
.card .output .btn {
  width: 100%;
  background-color: #26c0ab;
  text-transform: uppercase;
  text-align: center;
  color: #00494d;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 3.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card .output .btn:hover {
  background-color: #a1e8df;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 930px;
    flex-direction: row;
    border-radius: 2.5rem;
    align-items: stretch;
    padding: 3.4rem;
    gap: 1.5rem;
  }
  .card .input {
    width: 105%;
    padding: 0 3.5rem 1.5rem 1.5rem;
  }
  .card .input .label-wrapper {
    padding: 1rem 0;
  }
  .card .input .btn-wrapper {
    gap: 1.3rem;
  }
  .card .input .btn-wrapper .btn {
    width: 31%;
  }
  .card .input .btn-wrapper .input-text {
    width: 31%;
  }
  .card ::placeholder {
    color: #5e7a7d;
    font-size: 2rem;
  }
  .card .output {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
  }
  .card .output .line-wrapper .line-output {
    margin: 0.5rem 0 2.4rem 0;
  }
  .card .output .line-wrapper .line-output .value {
    font-size: 4.6rem;
  }
}
@media screen and (min-width: 1090px) {
  body {
    margin-top: 100px;
  }

  .card {
    width: 950px;
    flex-direction: row;
    border-radius: 2.5rem;
    align-items: stretch;
    padding: 3.4rem;
    gap: 1.5rem;
  }
  .card .input {
    width: 105%;
    padding: 0 3.5rem 1.5rem 1.5rem;
  }
  .card .input .label-wrapper {
    padding: 1rem 0;
  }
  .card .input .btn-wrapper {
    gap: 1.3rem;
  }
  .card .input .btn-wrapper .btn {
    width: 31%;
  }
  .card .input .btn-wrapper .input-text {
    width: 31%;
  }
  .card ::placeholder {
    color: #5e7a7d;
    font-size: 19px;
  }
  .card .output {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
  }
  .card .output .line-wrapper .line-output {
    margin: 0.5rem 0 2.4rem 0;
  }
  .card .output .line-wrapper .line-output .value {
    font-size: 4.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
