
$cyan: hsla(172, 67%, 45%, 1);
$very-dark-cyan:hsla(183, 100%, 15%, 1);
$dark-grayish-cyan-1: hsl(186, 14%, 43%);
$dark-grayish-cyan-2: hsl(184, 14%, 56%);
$light-grayish-cyan-1:hsla(185, 41%, 84%, 1);
$light-grayish-cyan-2:hsla(185, 38%, 97%, 1);
$placeholder-color: hsla(180, 18%, 40%, 1);
$hover-color: hsla(172, 61%, 77%, 1);
$warning-color: hsla(13, 70%, 61%, 1);
$white: hsl(0, 0%, 100%);
